#preview {
    width: 50%;
    height: 80%;
    position: absolute;
}

.color_picker1{
   /* position: absolute; */
   bottom: -80% !important;
   left: -88% !important;
}
.custom-picker-img{
    position: absolute;
    left: 78% !important;
}


 
/* tub and lid colour change codes */
 
.material-colour-change-div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 1vw;
    background-color: transparent;
    border-top-right-radius: 1vw;
    display: flex;
    gap: .5vw;
}
 
.color-options-container input[type="radio"] {
  /* display: none; */
}
 
.color-options-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
 
.color-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 1vw;
  font-size: 0.9vw;
  /* border: 0.1vw solid #ccc; */
  border-radius: 0.5vw;
  cursor: pointer;
  /* background-color: #f9f9f9; */
  transition: background-color 0.2s, transform 0.2s;
}
 
.color-label:hover {
  /* background-color: #e0e0e0; */
  /* transform: scale(1.05); */
}
 
.color-pallete-card {
  width: 4vw;
  height: 4vw;
  /* border: 0.1vw solid #ccc; */
  border-radius: 0.5vw;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.color-pallete-card:hover {
  /* transform: scale(1.05); */
}
 
.color-pallete-card img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
 
.material-colour-change-div input[type="color"]{
    width: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}
 
.scrn_print_img {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}
 
.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#materialType {
    border: 2px solid #000000;
    background-color: white;
    border-radius: 10px;
    padding: 0.5vw 1vw;
}
 
#materialType:focus {
    outline: none;
    border: 2px solid #d30000;
}
 
.color-palette-card{
    height: 5vh;
    width: 5vw;
}
 
@media screen and (max-width: 500px) {
    .color_picker {
        position: absolute;
        bottom: 15%;
        left: 13%;
    }
 .custom-picker-img{
    position: absolute;
    left: 78% !important;
}
    .color_picker img {
        position: relative !important;
        height: auto !important;
        width: 10% !important;
        object-fit: contain;
        top: 0 !important;
        left: 0 !important;
        margin: unset !important;
    }
 
    .lightbox-target p{
        position: absolute;
        bottom: 10%;
        left: 13%;
 
    }
 
    .material-colour-change-div {
        bottom: 0%;
        width: 90%;
    }
 
.color-options-container {
    gap: 1vw;
}
 
    .color-label {
        font-size: 3vw;
    }
   
.color-palette-card{
    height: 10vh;
    width: 10vw;
}
 
.color-palette-card img {
    height: auto;
    object-fit: contain;
}
 
}


.colorpick-eyedropper-input-trigger {
    display: none;
}






